# metadata in root folder
.vs/
.idea/

# metadata in solution folder
windows_vs2017/.vs/
windows_vs2017/.idea/

# object files
windows_vs2017/Win32/
windows_vs2017/x64/

# baked proton textures
*.rttex
*.rtfont
*.psd

# other VS metadata?
*.aps
*.sdf
*.VC.db
*.VC.opendb
*.user

#copied from Seth's gitignore, sorry it's so messy

bin/*
!bin/version_history.txt
!bin/zlib1.dll
!bin/zlibwapi.dll

LegacyFiles
MediaPack
Press And Docs
WebOS
windows
www

*.zip
*.ncb
*.bsc
*.pch
*.sbr
*.ilk
*.idb
*.obj
*.DS_Store
*.pdb
.vs
*.vcxproj.user
windows_vs2017/Backup
builds
dxsdk/Lib/x64/Unused
dxsdk/Lib/x86/Unused
OSX
iOSIcons

# Xcode user-specific files
xcuserdata/
*.pbxuser
*.mode1v3
*.perspectivev3
*.xcuserstate
script/builds
script/Old
script/PSD

# media source/working files
media/newIcon/
media/old icon/
media/text-box/
media/truetypefonts/
AndroidGradle/app/libs/fmod.jar

windows_vs2017/winRTDink/x64

# html5 emscripten build output
html5/RTDink.js
html5/RTDink.wasm
html5/RTDink.data
html5/RTDink.html
html5/DinkSmallwoodWeb.html
html5/index.html
html5/temp.o
html5/WebLoaderData/

script/DinkSmallwoodHDInstaller.exe
html5/LoadTempChrome.bat
media/LaunchImagesAndIcons-2016-assets/Apple-Watch-38-Home-Screen.png
media/LaunchImagesAndIcons-2016-assets/Apple-Watch-38-Long-Look-Notification.png
media/LaunchImagesAndIcons-2016-assets/Apple-Watch-38-Notification-Center.png
media/LaunchImagesAndIcons-2016-assets/Apple-Watch-38-Short-Look.png
media/LaunchImagesAndIcons-2016-assets/Apple-Watch-42-Home-Screen.png
media/LaunchImagesAndIcons-2016-assets/Apple-Watch-42-Long-Look-Notification.png
media/LaunchImagesAndIcons-2016-assets/Apple-Watch-42-Notification-Center.png
media/LaunchImagesAndIcons-2016-assets/Apple-Watch-42-Short-Look.png
media/LaunchImagesAndIcons-2016-assets/Banner-xhdpi.png
media/LaunchImagesAndIcons-2016-assets/Default-568h@2x.png
media/LaunchImagesAndIcons-2016-assets/Default-667h@2x.png
media/LaunchImagesAndIcons-2016-assets/Default-736h@3x.png
media/LaunchImagesAndIcons-2016-assets/Default-Landscape-568h@2x.png
media/LaunchImagesAndIcons-2016-assets/Default-Landscape-667h@2x.png
media/LaunchImagesAndIcons-2016-assets/Default-Landscape-736h@3x.png
media/LaunchImagesAndIcons-2016-assets/Default-Landscape-1366@2x.png
media/LaunchImagesAndIcons-2016-assets/Default-Landscape.png
media/LaunchImagesAndIcons-2016-assets/Default-Landscape@2x.png
media/LaunchImagesAndIcons-2016-assets/Default-Portrait-1366@2x.png
media/LaunchImagesAndIcons-2016-assets/Default-Portrait.png
media/LaunchImagesAndIcons-2016-assets/Default-Portrait@2x.png
media/LaunchImagesAndIcons-2016-assets/Default.png
media/LaunchImagesAndIcons-2016-assets/Default@2x.png
media/LaunchImagesAndIcons-2016-assets/Icon-60.png
media/LaunchImagesAndIcons-2016-assets/Icon-60@2x.png
media/LaunchImagesAndIcons-2016-assets/Icon-60@3x.png
media/LaunchImagesAndIcons-2016-assets/Icon-72.png
media/LaunchImagesAndIcons-2016-assets/Icon-72@2x.png
media/LaunchImagesAndIcons-2016-assets/Icon-76.png
media/LaunchImagesAndIcons-2016-assets/Icon-76@2x.png
media/LaunchImagesAndIcons-2016-assets/Icon-167.png
media/LaunchImagesAndIcons-2016-assets/Icon-1024.png
media/LaunchImagesAndIcons-2016-assets/Icon-googleplay.png
media/LaunchImagesAndIcons-2016-assets/Icon-hdpi.png
media/LaunchImagesAndIcons-2016-assets/Icon-iTunesArtwork.png
media/LaunchImagesAndIcons-2016-assets/Icon-ldpi.png
media/LaunchImagesAndIcons-2016-assets/Icon-mdpi.png
media/LaunchImagesAndIcons-2016-assets/Icon-ouya-xiaomi.png
media/LaunchImagesAndIcons-2016-assets/Icon-ouya.png
media/LaunchImagesAndIcons-2016-assets/Icon-Small-40.png
media/LaunchImagesAndIcons-2016-assets/Icon-Small-40@2x.png
media/LaunchImagesAndIcons-2016-assets/Icon-Small-40@3x.png
media/LaunchImagesAndIcons-2016-assets/Icon-Small-50.png
media/LaunchImagesAndIcons-2016-assets/Icon-Small-50@2x.png
media/LaunchImagesAndIcons-2016-assets/Icon-Small.png
media/LaunchImagesAndIcons-2016-assets/Icon-Small@2x.png
media/LaunchImagesAndIcons-2016-assets/Icon-Small@3x.png
media/LaunchImagesAndIcons-2016-assets/Icon-xhdpi.png
media/LaunchImagesAndIcons-2016-assets/Icon-xxhdpi.png
media/LaunchImagesAndIcons-2016-assets/Icon-xxxhdpi.png
media/LaunchImagesAndIcons-2016-assets/Icon.png
media/LaunchImagesAndIcons-2016-assets/Icon@2x.png
media/android_dink_audio/arrow.ogg
media/android_dink_audio/attack1.ogg
media/android_dink_audio/axe.ogg
media/android_dink_audio/bhit.ogg
media/android_dink_audio/bird1.ogg
media/android_dink_audio/bird2.ogg
media/android_dink_audio/bow1.ogg
media/android_dink_audio/burn.ogg
media/android_dink_audio/caveent.ogg
media/android_dink_audio/click.ogg
media/android_dink_audio/drag1.ogg
media/android_dink_audio/drag2.ogg
media/android_dink_audio/escape.ogg
media/android_dink_audio/fire.ogg
media/android_dink_audio/flyby.ogg
media/android_dink_audio/gold.ogg
media/android_dink_audio/grunt1.ogg
media/android_dink_audio/grunt2.ogg
media/android_dink_audio/high1.ogg
media/android_dink_audio/high2.ogg
media/android_dink_audio/hurt1.ogg
media/android_dink_audio/hurt2.ogg
media/android_dink_audio/intro.ogg
media/android_dink_audio/knock.ogg
media/android_dink_audio/level.ogg
media/android_dink_audio/nono.ogg
media/android_dink_audio/ocean1.ogg
media/android_dink_audio/open.ogg
media/android_dink_audio/picker.ogg
media/android_dink_audio/pig1.ogg
media/android_dink_audio/pig2.ogg
media/android_dink_audio/pig3.ogg
media/android_dink_audio/pig4.ogg
media/android_dink_audio/pop.ogg
media/android_dink_audio/punch.ogg
media/android_dink_audio/quack.ogg
media/android_dink_audio/save.ogg
media/android_dink_audio/secret.ogg
media/android_dink_audio/sel1.ogg
media/android_dink_audio/sel2.ogg
media/android_dink_audio/sel3.ogg
media/android_dink_audio/select.ogg
media/android_dink_audio/snarl1.ogg
media/android_dink_audio/snarl2.ogg
media/android_dink_audio/snarl3.ogg
media/android_dink_audio/spell1.ogg
media/android_dink_audio/splash.ogg
media/android_dink_audio/squish.ogg
media/android_dink_audio/stairs.ogg
media/android_dink_audio/steps.ogg
media/android_dink_audio/swing.ogg
media/android_dink_audio/sword1.ogg
media/android_dink_audio/sword2_item.ogg
media/android_dink_audio/sword2.ogg
media/android_dink_audio/wscream.ogg
