[Desktop Entry]
Name=Dink Smallwood HD
Comment=Classic action-adventure RPG remastered in HD
Exec=dink-smallwood-hd
Icon=com.rtsoft.DinkSmallwoodHD
Type=Application
Categories=Game;AdventureGame;RolePlaying;
Keywords=dink;smallwood;rpg;adventure;dmod;
